<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="countryConstructor" class="org.example.beans.Country">
        <constructor-arg value="France"/>
        <constructor-arg value="67000000"/>
    </bean>

    <bean id="countrySetter" class="org.example.beans.Country">
        <property name="name" value="Germany"/>
        <property name="population" value="83000000"/>
    </bean>

    <bean id="countryServiceFactory" class="org.example.beans.CountryServiceFactory"/>

    <bean id="countryWithParams" factory-bean="countryServiceFactory" factory-method="getInstance">
        <constructor-arg value="Palestine"/>
        <constructor-arg value="1000000"/>
    </bean>

    <bean id="countryWithoutParams" factory-bean="countryServiceFactory" factory-method="getInstance"/>

</beans>
